* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body, html {
    min-height: 100%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 25, 35);
}

.App {
    height: 90vh;
    width: 70vw;
}